@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

/* ===CSS Reset=== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===Custom Property=== */

:root {
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(228, 12%, 48%);
    --clr-neutral-400: hsl(212, 21%, 14%);

    --clr-primary-200: hsl(158, 36%, 37%);
    --clr-primary-300: hsl(30, 38%, 92%);
}

/* ===Base Style=== */

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--clr-primary-300);
}

p {
    font-size: 14px;
    color: var(--clr-neutral-200);
}

/* ===Main Style=== */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.product {
    max-width: 40rem;
    margin: 0 1rem;
    background-color: var(--clr-neutral-100); 
    border-radius: .7rem;
    overflow: hidden;
}

.product_img {
    height: 480px;
    background-image: url(../images/image-product-mobile.jpg);
    background-position: center center;
    background-size: cover;
}

@media(min-width: 35rem) {

    .product {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .product_img {
        height: auto;
        background-image: url(../images/image-product-desktop.jpg);
    }
}

.product_content {
    display: grid;
    gap: 1.6rem;
    padding: 2rem 2.5rem; 
}

.product_type {
    text-transform: uppercase; 
    letter-spacing: 5px;
}

.product_name {
    color: var(--clr-neutral-400);
    font-family: 'Fraunces', serif;
    line-height: 1;
}

.product_description {
    line-height: 1.7;
}

.product_price {
    display: flex;
    gap: 1.2rem;
    align-items: center;
}

.discount_price {
    font-family: 'Fraunces', serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--clr-primary-200);
}

.original_price {
    text-decoration: line-through;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: .6rem;
    padding: 1rem 0;
    background-color: var(--clr-primary-200);
    color: var(--clr-neutral-100);
    font-weight: 700;
    position: relative;
    transition: background-color .4s;
}

.btn img {
    margin-right: 8px;
}

.btn:hover,
.btn:focus {
    cursor: pointer;
    background-color: hsl(159, 63%, 16%);
}

/* ===Footer Style=== */

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: var(--clr-primary-200); 
}